@import "./colors.css";

:root {
  --white: #ffffff;
  --black: #000000;
  --primaryAppBackground: var(--orange1);
  --primarySubtleBackground: var(--orange2);
  --primaryBackground: var(--orange3);
  --primaryHover: var(--orange4);
  --primaryActive: var(--orange5);
  --primarySubtleContrast: var(--orange6);
  --primaryBorder: var(--orange-7);
  --primaryBorderHover: var(--orange8);
  --primarySolid: var(--orange9);
  --primarySolidHover: var(--orange10);
  --primarySolidContrast: var(--white);
  --primaryLowContrastText: var(--orange-11);
  --primaryHighContrastText: var(--orange-12);
}

[data-theme="light"] {
  --background: var(--white);
  --backgroundAlpha: rgba(255, 255, 255, 0.8);
  --foreground: var(--black);
  --backgroundContrast: var(--black);
  
}

[data-theme="dark"] {
  --background: var(--black);
  --backgroundAlpha: rgba(0, 0, 0, 0.8);
  --foreground: var(--white);
  --backgroundContrast: var(--white);
}